<h1>Create new Article</h1>

<%= form_for @article do |a| %>
  <p>
    <%= a.label :title %> <br/>
    <%= a.text_field :title %>
  </p>
  
  <p>
    <%= a.label :description %> <br/>
    <%= a.text_area :description %>
  </p>
  
  <p>
    <%= a.submit %>
  </p>
<% end %>